@model Prenotazioni
@{
    ViewData ["Title"]= "Conferma";

}
<div>@Model.Nome</div>
<div>@Model.Cognome</div>
<div>@Model.Email</div>
<div>@Model.DataDiNascita</div>
<div>@Model.sesso</div>
<div>@Model.ruolo</div>